
@{
    ViewBag.Title = "Checkout";
}
<br />
<div class="col-md-12">
    <ul class="breadcrumb">
        <li>
            <a>@Html.ActionLink("Inicio", "Index", "Home")</a>
        </li>
        <li>Checkout</li>
    </ul>
</div>
<br />
<h2>Checkout</h2>

