<footer class="text-center footer bottom-right">
    <div class="animated slideInUp social">

        <a class="icon-facebook" href="https://www.facebook.com/" target="_blank"><img src="~/Content/Images/Icon/facebook.png" alt="Cuando la imagen no carga mestra esto" title="Texto para posicionar la imagen"></a>

        <a class="icon-twitter" href="https://www.twitter.com/" target="_blank"><img src="~/Content/Images/Icon/twitter.png" title="Twitter"></a>

        <a class="icon-youtube" href="https://www.youtube.com/" target="_blank"><img src="~/Content/Images/Icon/youtube.png" title="Youtube"></a>

        <a class="icon-gplus" href="https://www.googleplus.com/" target="_blank"><img src="~/Content/Images/Icon/gplus.png" title="Google Plus"></a>
    </div>
    <p>&copy; @DateTime.Now.Year - Nicolás Gaston Ríos</p>
    
</footer>
